extends layout

block content
  .row
    .column
      h2= res.title
  .row
    .column
      table
        tr
          td= res.chamber
          td= moment(res.date).format("DD.MM.YYYY")
          td= res.signature
          td= res.result
          td= res.applicant
  .row
    div.column!= md(res.text)
  .row
    .column
      a.button(href="/pdf/"+res.id) PDF
